*  {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #37A0B8;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 2% 0;
}

header h1 {
    font-size: 4rem;
}

header p {
    font-size: 1rem;
    color: #ffffff;
}

nav li {
    list-style: none;
    text-align: center;
    margin: 10% 0;
}

nav li a {
    text-decoration: none;
    color: #37A0B8;
    font-size: 4rem;
}

nav li a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    nav li a {
        font-size: 2rem;
    }
}

span {
    font-size: 4rem;
    color: #37A0B8;
}

input {
    padding: 2% 0;
    margin: 5% 0;
    border: 2px solid #37A0B8;
    text-align: center;
    font-size: 1rem;
}

button {
    color: #37A0B8;
    font-size: 1.5rem;
    padding: 2%;
    border: 2px solid #37A0B8;
    background-color: transparent;
}