*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Madurai', sans-serif;
    width: 800px;
    margin: 0 auto;
}

header {
    padding: 1% 0;
    background-color: #e9ae46;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    margin: auto;
}

.logo > p {
    color: #ffffff;
    font-size: 1rem;
}

main {
    padding: 0 5%;
    background-color: #ffffff;
}

#introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 0;
}

#introduction h1 {
    color: #e9ae46;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    /*letter-spacing: -3px;*/
}

#introduction p {
    font-size: 1.20rem;
    font-weight: 600;
    margin-bottom: 2%;
}

#news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 0;
}

#news h2 {
    text-transform: uppercase;
    margin-bottom: 3%;
}

#news .blog img {
    height: 15rem;
}

#news .blog-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-right {
    padding-left: 5%;
}

.text-left {
    padding-right: 5%;
}

#news .blog-text h3 {
    text-transform: uppercase;
    padding-bottom: 5%;
}

#news .blog-text p {
    font-weight: 600;
    padding-bottom: 5%;
}

#news .blog-text a {
    text-transform: uppercase;
    display: block;
    width: 7.5rem;
    padding: 2% 0;
    background-color: #e9ae46;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

footer #banner {
    background-color: #e9ae46;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}

footer #banner  p {
    margin-bottom: 2%;
}

footer #banner .icons i {
    padding: 0 5px;
}



@media screen and (max-width: 800px) {
    body {
        width: 576px;
    }
    .logo > p {
        font-size: .7rem;
    }

    #introduction h1 {
        font-size: 2rem;
    }

    #introduction p {
        font-size: 1rem;
    }

    #introduction img {
        width: 550px;
    }

    #news h2 {
        font-size: 1.5rem;
    }

    #news .blog img {
        height: 10rem;
    }

    #news p {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px){
    body {
        width: 320px;
    }
    #introduction img {
        width: 300px;
    }
    #news h2 {
        font-size: 1rem;
    }
    #news .blog img {
        height: 7rem;
    }

    #news h3 {
        font-size: 14px;
    }

    #news p {
        font-size: 12px;
    }

    #news a {
        width: 4rem;
        font-size: 12px;
    }
}